* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(221, 252, 159);
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  padding: 20px 30px;
  background-color: rgb(0, 161, 97);
  width: 300px;
  border-radius: 10px;
  box-shadow: -3px -3px 10px 0px rgba(0, 0, 0, 0.3),
    3px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.counter .display {
  font-size: 80px;
  color: rgb(221, 252, 159);
  text-align: center;
  font-weight: 500;
}

.counter button {
  background-color: rgb(221, 252, 159);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  color: green;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

.counter .control {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
